<ion-view title='<h2>Remind</h2>'>
        <ion-content>

            <br><br><br><br><br><br><br>
          
          <div class="padding">
<div class ="card" >
    <div class="item item-divider" style="text-align:center">
    Bienvenue dans Remind
    </div>
    <div class="item item-text-wrap">         
              <button class="button button-block button-positive" ng-controller="SignInForm" ng-click="openModal()" >
  Connexion
            </button>
<br><br>     

              <button class="button button-block button-positive" ng-controller="SignUpForm" ng-click="openModal()">
  Inscription
            </button>
    </div>
              </div>              

          </div>
     </ion-content>
      </ion-view>
