 <ion-modal-view class="product edit create" >
     
   <br><br><br><br><br><br>
          <form name="itemEdit" novalidate >
            <ion-header-bar class="bar-positive fix-buttons">
              <a class="button" ng-click="closeModal()">Annuler</a>
              <h1 class="title">Athentification</h1>
</ion-header-bar>
       <br><br><br>
<div class="list">
  <label class="item item-input">
      
    <span class="input-label">Email</span>
    <input type="text" ng-model="user.mail" >
  </label>
    
      <label class="item item-input">
      
    <span class="input-label">Mot de passe</span>
    <input type="password" ng-model="user.pass"  >
  </label>
    <br>
    <center>
    <button class="button button-positive" ng-click="signin(user)">
  Connexion
</button>
               <br> <br>   <p style="color:red">{{erroru}}</p>
        <br>
          <p style="color:red">{{errord}}</p>
    </center>

</div>              
              
              
          </form>
        </ion-modal-view>