<ion-view view-title="Paramètres du compte">
  <ion-content>
      <br>
      <center>
          <button class="button button-assertive" href="#/home" ng-click="disconnect()">
  Se Déconnecter
          </button></center>
  </ion-content>
</ion-view>
