 <ion-modal-view class="product edit create" >
     
    <br><br>
          <form name="itemEdit" novalidate >
            <ion-header-bar class="bar-positive fix-buttons">
              <a class="button" ng-click="closeModal()">Annuler</a>
              <h1 class="title">Ajouter un Todo</h1>
</ion-header-bar>
       <br><br><br>
<div class="list">
  <label class="item item-input">
      
    <span class="input-label">Titre</span>
    <input type="text" ng-model="newTodo.title"  >
  </label>
  <label class="item item-input">
    <span class="input-label">Description</span>
        <textarea ng-model="newTodo.description">
      </textarea>
  </label>
     <label class="item-input">
 <span class="input-label">Deadline</span><br>   
    <input type="date" ng-model="newTodo.deadline"/>     
    </label>
    <br>
    <center>
    <button class="button button-positive" ng-click="add(newTodo)">
  Ajouter
</button>
    </center>

</div>              
              
              
          </form>
        </ion-modal-view>