 <ion-modal-view class="product edit create" >
     
    <br><br>
          <form name="itemEdit" novalidate >
            <ion-header-bar class="bar-positive fix-buttons">
              <a class="button" ng-click="closeModal()">Annuler</a>
              <h1 class="title">Editer le Todo</h1>
</ion-header-bar>
       <br><br><br>
<div class="list">
  <label class="item item-input">
      
    <span class="input-label">Titre</span>
    <input type="text" ng-model="todo.title"  >
  </label>
  <label class="item item-input">
    <span class="input-label">Description</span>
        <textarea ng-model="todo.description">
      </textarea>
  </label>
     <label class="item-input">
                  <span class="input-label">Deadline</span><br>   
    <input type="date" ng-model="todo.deadline"
   value="{{todo.deadline}}"/>     
    </label>

 
    <br>
    <center>
    <button class="button button-positive" ng-click="edit(todo)">
  Editer
</button>
    </center>

</div>              
              
              
          </form>
        </ion-modal-view>