 <ion-modal-view class="product edit create" >
     
    <br><br><br><br><br><br>
          <form name="itemEdit" novalidate >
            <ion-header-bar class="bar-positive fix-buttons">
              <a class="button" ng-click="closeModal()">Annuler</a>
              <h1 class="title">Inscription</h1>
</ion-header-bar>
       <br><br><br>
<div class="list">
  <label class="item item-input">
      
    <span class="input-label">Email</span>
    <input type="text" ng-model="newUser.mail"  >
  </label>
    
      <label class="item item-input">
      
    <span class="input-label">Mot de passe</span>
    <input type="password" ng-model="newUser.pass"  >
  </label>
      <label class="item item-input">
      
    <span class="input-label">Confirmez</span>
    <input type="password" ng-model="newUser.passcf"  >
  </label>

    
    <br>
    <center>
    <button class="button button-positive" ng-click="signup(newUser)">
  Inscription
</button>
       <br> <br>   <p style="color:red">{{errorpass}}</p>
        <br>
          <p style="color:red">{{errorexist}}</p>
    </center>
 
</div>              
              
              
          </form>
        </ion-modal-view>