<ion-view view-title="Liste des Todos">
  <ion-content>
            <center> 
      <button class="button button-positive" ng-controller="AddTodo" ng-click="openModal()">
  Ajouter un Todo
</button>
      </center>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="todo in todos" type="item-text-wrap" href="#/tab/todos/{{todo.id}}" >
   
          <div>

        <h2 ng-model="id">{{todo.title}}</h2>
              
        <p>deadline :  {{todo.deadline}}     <br>              État :{{todo.state}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove({{todo.id}})" >
          Suppr.
        </ion-option-button>
          
        
        <ion-option-button class="button-balanced" ng-controller="EditTodo" ng-click="openModal()">
Editer
        </ion-option-button>      
    
</div>

      </ion-item>
    </ion-list>
     

  </ion-content>
</ion-view>
