
<ion-view >
      <ion-nav-title>{{todo.title}}</ion-nav-title>

  <ion-content class="padding">

    <p>

      Description : {{todo.description}}


    </p>
    <br>
       <p>
      Deadline : {{todo.deadline}}
    </p>   
<br>
          <p>
      Etat : {{todo.state}}
    </p>
  </ion-content>
</ion-view>
